<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="newpw">
  <div class="field">
    <div class="newpw_box">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="newpw_item">
        <%= f.radio_button :keycate, 'pc', value: 'pc', class: 'newpw_radio blind' %>
        <%= f.label :keycate_pc, class: 'newpw_label img-pc' %>
      </div>
      <div class="newpw_item">
        <%= f.radio_button :keycate, 'wifi', value: 'wifi', class: 'newpw_radio blind' %>
        <%= f.label :keycate_wifi, class: 'newpw_label img-wifi' %>
      </div>
      <div class="newpw_item">
        <%= f.radio_button :keycate, 'online', value: 'online', class: 'newpw_radio blind' %>
        <%= f.label :keycate_online, class: 'newpw_label img-online' %>
      </div>
      <div class="newpw_item">
        <%= f.radio_button :keycate, 'etc', value: 'etc', class: 'newpw_radio blind' %>
        <%= f.label :keycate_etc, class: 'newpw_label img-etc' %>
      </div>
    </div>
    <%= f.label :title, '이름을 입력해주세요.' %>
    <div class="newpw_controls margintop-zero">
      <%= f.text_field :keyname, class:"newpw_inputs", autofocus: true %>
      <span class="custom-border"></span>
    </div>
    <div class="btn_container">
      <div class="btn_wrap next">
        <button class="btn" type="button"><i class="fa fa-check"></i></button>
        <div class="btn-back delay-1"></div>
        <div class="btn-back delay-2"></div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :id, '아이디를 입력해주세요.' %>
    <div class="newpw_controls">
      <%= f.text_field :keyid, class:"newpw_inputs"%>
      <span class="custom-border"></span>
    </div>
    <div class="btn_container text_left">
      <div class="btn_wrap prev left">
        <button class="btn" type="button"><i class="fa fa-undo"></i>이전 변경</button>
      </div>
      <div class="btn_wrap next right">
        <button class="next btn" type="button"><i class="fa fa-check"></i></button>
        <div class="btn-back delay-1"></div>
        <div class="btn-back delay-2"></div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, '비밀번호를 입력해주세요.' %>
    <div class="newpw_controls">
      <%= f.text_field :keypw,class:"newpw_inputs" %>
      <span class="custom-border"></span>
    </div>
    <div class="btn_container text_left">
      <div class="btn_wrap prev left">
        <button class="btn" type="button"><i class="fa fa-undo"></i>이전 변경</button>
      </div>
      <div class="btn_wrap next right">
        <button class="btn" type="button"><i class="fa fa-check"></i></button>
        <div class="btn-back delay-1"></div>
        <div class="btn-back delay-2"></div>
      </div>
    </div>
  </div>
  
  <div class="field actions">
    <%= f.submit "+" %>
    <div class="btn_container text_left">
      <div class="btn_wrap prev left">
          <button class="btn" type="button"><i class="fa fa-undo"></i>이전 변경</button>
        </div>
      </div>
    </div>
</div>
<% end %>
